
<div class="nicdark_space50"></div>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <div class="col-xs4 nicdark_textevidence nicdark_bg_blue">
                    <h2 class="white nicdark_margin20"> Modification Profil </h2>
                </div>
                <img class="rounded-circle mt-5" width="150px" alt="image de profil" src="{{ asset('uploads/image/' ~ utilisateur.image) }}">
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="grix xs4 container">
                {% for message in app.flashes('message') %}
                    <div class="col-xs4">
                        <div class="p-3 my-2 rounded-2 success">{{ message }}</div>
                    </div>
                {% endfor %}



                    <div class="p-3 py-5">
                          <div class="d-flex justify-content-between align-items-center mb-3">
                              <h2 class="text-right">{{ utilisateur.nom }} {{ utilisateur.prenom }}</h2>

                           </div>


                    </div>

                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>




        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="nicdark_archive1  ">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span class="border px-3 p-1 add-experience white nicdark_margin20"><i class="fa fa-plus icon-cog-2"></i>&nbsp;PARAMÉTRES</span>
                    </div>

                    <ul class="nicdark_list ">

                        <li >
                            <div class="nicdark_margin20">
                                <div class="nicdark_activity">
                                    <p><i class="icon-angle-right"></i><a class="grey nicdark" href="{{ path('utilisateur_show' ,{'id':utilisateur.id}) }}">Profil</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nicdark_margin20">
                                <div class="nicdark_activity">
                                    <p><i class="icon-angle-right"></i><a class="grey nicdark" href="{{ path('utilisateur_edit',{'id':utilisateur.id}) }}">Modifier compte</a></p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="nicdark_margin20">
                                <div class="nicdark_activity">
                                    <p><i class="icon-angle-right"></i><a class="grey nicdark" href="{{ path('users_pass_modifier',{'id':utilisateur.id}) }}">Réinitialisation mot de passe</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nicdark_margin20">
                                <div class="nicdark_activity">
                                    <form method="post" action="{{ path('utilisateur_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                                        <button  class="btn bouton" >Supprimer votre compte</button>
                                    </form>

                                </div>
                            </div>
                        </li>


                    </ul>
                </div>














            </div>
        </div>








    </div></div>

