
{% block body %}
{# {{ form_start(form) }}
    {{ form_label(form.date_commande)}}

 {{ form_errors(form.date_commande)}}
    {{ form_widget(form.date_commande) }}
    {{ form_label(form.adresse_destination)}}

    {{ form_errors(form.adresse_destination)}}
    {{ form_widget(form.adresse_destination) }}
    {{ form_label(form.CommandeE_c) }}

    {{ form_widget(form.CommandeE_c) }}
    {{ form_label(form.CommandeM_c) }}

    {{ form_widget(form.CommandeM_c) }}
    {{ form_label(form.commmandeT_c) }}

    {{ form_widget(form.commmandeT_c) }} #}


   <button class="btn">{{ button_label|default('Save') }}</button>
    {# {{ form_end(form) }} #}


{% endblock %}
