{% extends 'base.html.twig' %}

{% block title %}New Materiel{% endblock %}

{% block body %}
    <h1>Create new Materiel</h1>

    <section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img5">

        <div class="nicdark_filter greydark">

            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">

                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>

            </div>
            <!--end nicdark_container-->

        </div>

    </section>
    <!--end section-->
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">

        <div class="nicdark_space40"></div>


        <!--title-->
        <div class="nicdark_alerts nicdark_bg_green  ">
            <p class="white nicdark_size_medium"><i class="bi bi-arrow-down-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" line-height="1em" fill="currentColor"
                         class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                    </svg>
                </i>
                <strong>DEPOSER VOTRE MATERIELS :</strong></p>
        </div>
        <!--title-->
        <div class="card-body">
            <div class="nicdark_space5"></div>
            <div class="nicdark_space20"></div>
            <div class="nicdark_space20"></div>
            {{ form_start(form) }}
            <div class="form-row">
                <div class="form-group col-md-6">

                    {{ form_widget(form.nom,{'attr':{'class':"nicdark_bg_grey nicdark_border_grey   grey medium subtitle",'placeholder':'Votre Nom'}}) }}
                </div>
                <div class="form-group col-md-6">

                    {{ form_widget(form.prenom,{'attr':{'class':"nicdark_bg_grey nicdark_border_grey   grey large subtitle",'placeholder':'Votre Prénom'}}) }}
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">

                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr':{'class':"nicdark_bg_grey nicdark_border_grey   grey medium subtitle",'placeholder':'Votre Email'}}) }}
                </div>
                <div class="form-group col-md-6">

                    {{ form_errors(form.numtel) }}
                    {{ form_widget(form.numtel, {'attr':{'class':"nicdark_bg_grey nicdark_border_grey   grey medium subtitle",'placeholder':'Téléphone'}}) }}
                </div>
            </div>

            {# <div class="nicdark_space20"></div>
                <p>CATEGORIE MATERIEL:</p>
                <div class="nicdark_space5"></div>
                <label for="cat" ></label>
                <select id="cat" class="nicdark_bg_grey nicdark_border_grey   grey small subtitle" type="option" value="" >
                    <option value="">CHOIX</option>
                    <optgroup label="" >
                        <option value="">Tente et abris</option>
                        <option value="">Vêtement</option>
                        <option value="">Couchage</option>
                        <option value="">Mobilier de camping</option>
                        <option value="">Boire et manger</option>
                        <option value="">Autres equipements</option>
                    </optgroup>
                </select>
                <div class="nicdark_space20"></div>
                {{ form_errors(form.IdCatM) }}
                {{ form_widget(form.IdCatM, {'attr':{'class':"nicdark_bg_grey nicdark_border_grey   grey medium subtitle"}})}}
                <div class="nicdark_space20"></div> #}


            <div class="form-row">
                <div class="form-group col-md-6">

                    <div class="nicdark_space20"></div>
                    {{ form_errors(form.nom_materiel) }}
                    {{ form_widget(form.nom_materiel, {'attr':{'class':"nicdark_bg_grey nicdark_border_grey   grey medium subtitle",'placeholder':'Matériel'}}) }}
                </div>
                <div class="form-group col-md-6">

                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description, {'attr':{'class':"nicdark_bg_grey nicdark_border_grey   grey medium subtitle",'placeholder':'Description'}}) }}
                </div>
            </div>




            <div class="form-row">
                <div class="form-group col-md-6">

                    <div class="nicdark_space20"></div>
                    {{ form_errors(form.prix_m) }}
                    {{ form_widget(form.prix_m, {'attr':{'class':"nicdark_bg_grey nicdark_border_grey   grey medium subtitle",'placeholder':'Prix'}})}}
                </div>
                <div class="form-group col-md-6">
                    <label>Catégorie du matériel</label>
                    {{ form_errors(form.categorie) }}
                    {{ form_widget(form.categorie, {'attr':{'class':"nicdark_bg_grey nicdark_border_grey   grey small subtitle"}}) }}
                </div>
            </div>


            <div class="nicdark_space5"></div>
            <div class="nicdark_space5"></div>



            {{ form_end(form) }}

        </div>
    </div>


    </div>

    </div>
{% endblock %}