{% extends 'messages/messagerie.html.twig' %}

{% block body %}

	<section class="container">


		<div class="row">
			<div class="col">
				<div class="col-12">
					<p>Vous avez envoyé
						{{ app.user.sent|length }}
						messages</p>
				</div>
				{% for message in app.user.sent %}
					<div class="email-list mt-3">
						<div class="message">
							<div>

								<div class="d-flex message-single">
									<div class="pl-1 align-self-center">
										<div class="custom-control custom-checkbox">
											{# code supp message #}
										</div>
									</div>
									<div class="ml-2">
										<button class="border-0 bg-transparent align-middle p-0"><i class="fa fa-star" aria-hidden="true"></i></button>
									</div>
								</div>
								<a href="{{ path("read", {id: message.id}) }}" class="col-mail col-mail-2">
									{% set bold = "" %}
									{% if message.isRead == 0 %}
										{% set bold = "fw-bold" %}
									{% endif %}
									<div class="subject"><strong>{{ message.sender.email }}</strong> , {{ message.title }} - {{ message.message }}</div>
									<div class="date">{{ message.createdAt|date }}</div>
									<div >

									</div>

								</a>



							</div>

						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}
